# Linear Models

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

/Users/mojtabahaghighatlari/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [4]:
X = pd.read_csv('../data/molorg_features.csv',header = 0)
print X.shape
X.head(n=10)

(1000, 1893)

,MW,AMW,Sv,Se,Sp,Si,Mv,Me,Mp,Mi,...,Psychotic-80,Psychotic-50,Hypertens-80,Hypertens-50,Hypnotic-80,Hypnotic-50,Neoplastic-80,Neoplastic-50,Infective-80,Infective-50
0,264.37,8.528,21.864,30.698,23.466,33.993,0.705,0.990,0.757,1.097,...,0,0,1,0,0,0,1,0,1,0
1,369.62,11.551,24.107,32.222,27.301,34.756,0.753,1.007,0.853,1.086,...,0,0,1,0,0,0,1,1,1,1
2,338.52,8.257,27.830,40.433,30.603,44.786,0.679,0.986,0.746,1.092,...,0,0,0,0,0,0,0,0,0,0
3,365.48,8.702,30.412,41.683,32.233,45.906,0.724,0.992,0.767,1.093,...,1,0,0,0,0,0,1,0,1,0
4,285.54,7.932,22.324,35.283,25.801,39.995,0.620,0.980,0.717,1.111,...,0,0,1,0,1,0,1,0,1,1
5,262.38,8.199,20.423,32.222,21.728,36.571,0.638,1.007,0.679,1.143,...,0,0,1,0,1,0,1,1,1,1
6,326.36,8.368,27.832,39.167,28.693,42.535,0.714,1.004,0.736,1.091,...,0,0,0,0,0,0,0,0,1,0
7,303.53,7.403,25.664,40.091,28.915,45.490,0.626,0.978,0.705,1.110,...,1,0,0,0,0,0,0,0,1,0
8,232.36,6.280,21.499,36.483,23.319,41.943,0.581,0.986,0.630,1.134,...,0,0,1,0,1,1,1,0,1,0
9,297.44,6.610,27.047,44.469,29.086,50.856,0.601,0.988,0.646,1.130,...,1,0,1,1,1,0,1,1,1,0

In [5]:
y = pd.read_csv('../data/molorg_pol.csv', header = 0)
print y.shape
y.head(n=10)

(1000, 1)

   pol_Bohr3
0   198.6203
1   240.7911
2   242.9596
3   274.1072
4   185.0798
5   161.2420
6   235.3045
7   200.4527
8   154.2377
9   213.7634